
@import 'includes/reset.scss';
@import 'includes/fonts.scss';
@import 'includes/common.scss';
@import 'includes/setting';
@import 'includes/keyframes_set';

html{
    &.inactive-scroll body{
        height: 100%;
        overflow: hidden;
    }

    &.nav-open , &.main-page{
        #header{
            h1{
                a{
                    color: #fff;
                }
            }
        }
    }
}

.error404{
    width: 100%;
    height: 100%;
    padding: 240px 0 120px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    color: #000;
    font:300 22px/22px 'Noto Sans KR';
}


#wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
}

#gnb-menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 19;
    // display: none;

    &::after{
        content:'';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #9e8e68;
        z-index: 15;
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);

        transition:transform 0.5s 0.2s cubic-bezier(.82,.2,0,.85);
        -webkit-transition:-webkit-transform 0.5s 0.2s cubic-bezier(.82,.2,0,.85);
    }

    &.open{
        display: block;

        &::after{
            transition-delay: 0s;
            -webkit-transition-delay:0s;
            transform:translate3d(100%,0,0);
            -webkit-transform:translate3d(100%,0,0);
        }

        .gnb-menu-wrapper{
            transition-delay:0.15s;
            -webkit-transition-delay:0.15s;
            transform:translate3d(100%,0,0);
            -webkit-transform:translate3d(100%,0,0);
        }
    }

    .gnb-menu-wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        position: relative;
        background: #121212;
        z-index: 16;
        padding-top: 120px;
        z-index: 18;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        transition:transform 0.6s 0s cubic-bezier(.82,.2,0,.85);
        -webkit-transition:-webkit-transform 0.6s 0s cubic-bezier(.82,.2,0,.85);
        overflow: hidden;

        .container{
            >.view-map{
                padding: 1.3rem 0;
                display: block;
                text-align: center;
                margin: 6rem 1.5rem 0;
                border: 1px solid  #9e8e68;
                font:500 2rem/2rem 'Open Sans';
                display: none;
                color: #9e8e68;
                letter-spacing: 5px;
            }
        }


    }

    ul.main-menu{
        position: absolute;
        top: 200px;
        left: 0;

        li{
            margin-bottom: 15px;
            a{
                position: relative;
                display: inline-block;
                color: #fff;
                font:800 80px/80px 'Open Sans';
                transition:color 0.3s;
                -webkit-transition:color 0.3s;

                &::after{
                    position: absolute;
                    left: 0;
                    bottom: 20px;
                    content:'';
                    width: 100%;
                    height: 2px;
                    background: #9e8e68;
                    transform:scaleX(0);
                    -webkit-transform:scaleX(0);
                    transition:transform 0.3s;
                    -webkit-transition:-webkit-transform 0.3s;
                    transform-origin:left;
                    -webkit-transform-origin:left;
                }

                &:hover , &.active{
                    color: #9e8e68;

                    &::after{
                        transform:scaleX(1);
                        -webkit-transform:scaleX(1);
                    }
                }
            }

            &.active{
                a{
                    color: #9e8e68;

                    &::after{
                        transform:scaleX(1);
                        -webkit-transform:scaleX(1);
                    }
                }

            }
        }
    }

    .company-info{
        width: 450px;
        position: absolute;
        top: 200px;
        right: 0;

        dl{
            margin-bottom: 27px;
            dt{
                margin-bottom: 12px;
                font:700 16px/16px 'Open Sans Condensed';
                color: #aaa;
                text-transform: uppercase;
            }

            dd{
                .desc{
                    color: #fff;
                    font:700 12px/18px 'Open Sans Condensed';
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }

                a{
                    font:300 12px/12px 'Open Sans Condensed';
                    color: #fff;
                }

                .link-map{
                    display: inline-block;
                    padding: 4px 18px;
                    color: #aaa;
                    border: 1px solid  #aaa;
                }

                .link{
                    color: #9e8e68;
                    letter-spacing: 1px;
                }
            }

            &:last-child{
                margin-bottom: 0;
            }

            &.social{
                li{
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    a{
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
/* gnb-menu END */


/* HEADER START */
#header{
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;


    h1{
        position: absolute;
        top: 40px;
        left: 50px;
        a{
            color: #000;
            font:700 40px/40px 'Brandon';
            letter-spacing: 5px;
            transition:color 0.3s;
            -webkit-transition:color 0.3s;
        }
    }

    a.gnb-menu-button{
        width: 61px;
        height: 61px;
        background: #000;
        position: absolute;
        top:30px;
        right:50px;

        span{
            display: block;
            width: 26px;
            height: 1px;
            background: #fff;
            position: absolute;
            left: 50%;
            transition:all 0.3s;
            -webkit-transition:all 0.3s;
            margin-left: -13px;

            &.bar1{
                transform-origin:left top;
                -webkit-transform-origin:left top;
                top: 22px;
            }

            &.bar2{
                top: 30px;
            }

            &.bar3{
                transform-origin:left bottom;
                -webkit-transform-origin:left bottom;
                top: 38px;
            }
        }

        &.open{
            background: #121212;
            span{
                background: #9e8e68;
                transition-delay:0.8s;
                -webkit-transition-delay:0.8s;

                &.bar1{
                    width: 70px;
                    height: 2px;
                    left: 20px;
                    top: 4px;
                    // transition-delay: 0.1s;
                    // -webkit-transition-delay: 0.1s;
                    transform:rotate(45deg);
                    -webkit-transform:rotate(45deg);
                }

                &.bar2{
                    opacity: 0;
                }

                &.bar3{
                    width: 70px;
                    height: 2px;
                    top: 54px;
                    left: 20px;
                    // transition-delay: 0.1s;
                    // -webkit-transition-delay: 0.1s;
                    transform:rotate(-45deg);
                    -webkit-transform:rotate(-45deg);
                }
            }
        }
    }
}
/* HEADER START END */

/* index_main START */
.main{
    width: 100%;
    position: relative;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    #main-video{
        position:relative;
        overflow:hidden;
        transition:background 0.3s;
        -webkit-transition:background 0.3s;
        >div{
            width:100%;
            height:100%;
            background-size: cover;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-image: none;

            video{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform:translate3d(-50%,-50%,0);
                -webkit-transform:translate3d(-50%,-50%,0);
                object-fit: cover;
                -webkit-object-fit: cover;
                opacity: 0;
                transition: opacity 2s;
                -webkit-transition: opacity 2s;

                &.loaded{
                    opacity: 1;
                }
            }
        }
    }

    #main-text{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;

        span{
            width: 40px;
            height: 1px;
            display: block;
            margin: 25px auto;
            background-color: #fff;
        }

        h6{
            width: 100%;
            height: auto;
            font-family: 'Open Sans Condensed';
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #fff;
        }

        h2{
            width: 100%;
            height: auto;
            font-family: 'Open Sans';
            font-size: 42px;
            font-weight: bold;
            line-height: 50px;
            text-align: center;
            color: #fff;

            &.pc-ver{
                display: block;
            }
            &.tab-ver{
                display: none;
            }
            &.mob-ver{
                display: none;
            }
        }

        a{
            width: 250px;
            height: 50px;
            display: block;
            margin: 55px auto 0;
            border: 1px solid #fff;
            box-sizing: border-box;
            position: relative;

            p{
                @include parent_d();
                @include fontWB(16, 48, center);
                font-family: 'Open Sans Condensed';
                letter-spacing: 1px;
                position: absolute;
            }

            div{
                width: 100%;
                height: 0;
                position: absolute;
                background-color: $white;
                transform: rotate(180deg) !important;
            }

            &:hover,&:active{
                p{
                    color: $black;
                    z-index: 3;
                }
                div{
                    animation: mainLink 0.6s 1;
                    height: 100%;
                    z-index: 1;
                }
            }
        }

    }

    &.loaded{
        #main-video{
            background: #141416;
        }
    }

    &.destroy{
        opacity: 0;
    }
}
/* index_main END */



/* .main.item-wrapper START */
.items-wrapper{
    width: 1350px;
    padding: 120px 0 170px;

    h2{
        padding: 90px 0;
        font:700 20px/20px 'Open Sans Condensed';
        text-align: center;
        letter-spacing: 10px;
    }

    >.item{
        width: 380px;
        height: 380px;
        position: relative;
        float: left;
        margin: 0 35px 70px;
        background: #000;
        // overflow: hidden;
        cursor: pointer;
        opacity: 0;
        transition:opacity 0.5s , transform 0.5s;
        -webkit-transition:opacity 0.5s , -webkit-transform 0.5s;
        transform:translate3d(0,40px,0);
        -webkit-transform:translate3d(0,40px,0);

        .item-wrapper{
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
        }

        &.loaded{
            opacity: 1;
            transform:translate3d(0,0,0);
            -webkit-transform:translate3d(0,0,0);

            &::after{
                transform:translate3d(0,0,0);
                -webkit-transform:translate3d(0,0,0);
            }

            &.destroy{
                opacity: 0;
            }
        }

        .img{
            position: relative;
            z-index: 3;

            >img{
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: none;


                &.active{
                    display: block;
                }
            }
        }

        .info{
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 15px;
            transform:translate3d(0,100%,0);
            -webkit-transform:translate3d(0,100%,0);
            background: #fff;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            transition:transform 0.3s;
            -webkit-transition:transform 0.3s;
            z-index: 3;

            h3{
                margin-bottom: 12px;
                color: #000;
                font:300 16px/16px 'Noto Sans KR';
            }

            .date{
                font:300 12px/12px 'Open Sans';
                color: #777;
            }
        }
        /* info END */

        &:hover{
            .info{
                transform:translate3d(0,0,0);
                -webkit-transform:translate3d(0,0,0);
            }
        }

    }
    /* item END */
}
/* .main.item-wrapper END */


/* AboutUs-detail START */
.about-title-box{
    width: 100%;
    height: 49.4vw;//height: 830px
    @include bgi_n_cc();
    background-image: url('../images/about/top_bgi.jpg');
    position: relative;

    h2{
        width: 100%;
        height: 90px;
        @include fontWB(80, 90, center);
        font-family: 'Open Sans';
        font-style: italic;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: 55px;
        opacity: 0;
    }

    p{
        width: 100%;
        height: 25px;
        @include fontWN(18, 25, center);
        font-family: 'Open Sans Condensed';
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: 160px;
        opacity: 0;
    }
}
// .about-title-box END

.about-intro-box{
    width: 100%;
    height: 1693px;
    position: relative;

    .about-object-group{
        width: 100%;
        height: 100%;
        position: relative;

        // >*{display: none;}
    }

    .article-gold{
        width: 640px;
        height: 0;
        background-color: $point;
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: -150px;
        margin-left: -640px;
        z-index: 1;
    }

    .art-text-box{
        width: 640px;
        height: 832px;
        padding-top: 250px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: -150px;
        margin-left: -640px;
        z-index: 3;
    }

    .article-vision{
        width: 640px;
        height: 0;
        background-color: $black_d;
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: 470px;
        margin-left: -320px;
        z-index: 1;
    }

    .vision-dash{
        @include custom_d(1, 200);
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: 820px;
        z-index: 3;
    }

    .article-principal{
        width: 640px;
        height: 480px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: 1080px;
        margin-left: -320px;
    }

    .principal-dash{
        @include custom_d(1, 200);
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: 1559px;
        z-index: 3;
    }

    h4{
        width: 100%;
        @include fontWB(45, 50, center);
        font-family: 'Open Sans Condensed';
    }

    p{
        width: 100%;
        margin-bottom: 10px;
        @include fontWN(15, 22, center);
        font-family: 'NotoSansKR';
        letter-spacing: -1px;

        .font-g{
            @include fontCN(15, 22, center, $point_l);
        }
    }

    .dash-bottom{
        @include custom_d(1, 0);
        margin: 0 auto;
    }

    .line-w{
        background-color: $white;
    }

    .line-g{
        background-color: $point;
    }
}

// object 모음은 includes/_about_obj.scss 모듈 사용
@import 'includes/_about_obj';

.art-text-box{

    h3{
        width: 100%;
        @include fontWB(75, 90, left);
        font-family: 'Open Sans Condensed';
        letter-spacing: 12px;
        text-indent: 315px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    .art-text1{
        text-indent: 200px;
        margin-top: 350px;
    }

    .art-text2{
        margin-top: 440px;
    }

    .art-text3{
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 530px;
    }

}

.gold-deco{
    width: 250px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 50%;
    margin-top: 306px;
    margin-right: -140px;
    z-index: 2;
    overflow: hidden;

    span{
        @include parent_d();
        background-color: $gray;
        position: absolute;
        top: 0;
        left: -100;
    }

    .act_bgG{
        animation: goldGray 2s 1;
        left: 0;
    }
}

.article-vision{
    h4{
        padding: 195px 0 25px;
        opacity: 0;
    }

    p{
        opacity: 0;
        padding-top: 50px;
    }

    p:nth-child(3){padding-bottom: 44px;}
}

.vision-dash{

    .line-w{
        height: 0;
    }

    .line-g{
        height: 0;
    }

    &.act_vision{
        .line-w{
            animation: visionWhite 2s 1 linear;
            height: 100px;
        }

        .line-g{
            animation: visionGold 2s 1 linear;
            height: 100px;
        }
    }
}

.article-principal{
    .obj-quites{
        @include custom_d(57, 54);
        margin: 0 auto;
        @include bgi_n_cc();
        background-image: url('../images/about/dou_quotes/mark07.png');
    }

    h4{
        padding: 100px 0 20px;
        color: $black;
        opacity: 0;
    }

    p{
        color: $black;
        padding-top: 50px;
        opacity: 0;
    }

    .line-g{
        margin-top: 67px;
        height: 0;
    }

    .act-g{
        height: 134px;
        animation: princGold 2s 1 linear;
    }
}
//.about-intro-box END

.principal-dash{
    .line-g{
        height: 0;
    }

    .line-w{
        height: 0;
        background-color: $white;
    }

    &.act_princ{

        .line-g{
            height: 134px;
            animation: princGold 2s 1 linear;
        }

        .line-w{
            animation: selectWhite 2s 1 linear;
            height: 26px;
        }
    }
}

.about-service-box{
    width: 100%;
    height: 360px;
    background-color: $gray;
    position: relative;

    .dash-service{
        @include custom_d(1, 80);
        background-color: #999999;
        display: block;
        float: left;
        // position: absolute;
        // top: 0;
        // left: 0;
        // margin-top: 168px;
        //
        // &.ser-1{
        //     margin-left: 630px
        // }
        //
        // &.ser-2{
        //     margin-left: 950px
        // }
        //
        // &.ser-3{
        //     margin-left: 1270px
        // }
    }

    h4{
        width: 100%;
        padding: 60px 0 30px;
        @include fontWB(35, 35, center);
        font-family: 'Open Sans Condensed';
        letter-spacing: 2px;
        position: absolute;
        top: 0;
        margin-top: 26px;
    }

    .service-contents{
        width: 1283px;
        margin: 0 auto;
        padding-top: 150px;
    }

    dl{
        width: 320px;
        display: block;
        float: left;
        // position: absolute;
        // top: 0;
        // left: 0;
        // margin-top: 150px;

        // &.service-list-1{margin-left: 310px;}
        // &.service-list-2{margin-left: 630px;}
        // &.service-list-3{margin-left: 950px;}
        // &.service-list-4{margin-left: 1270px;}

        >*{
            width: 100%;
            font-family: 'Open Sans Condensed';
        }

        >dt{
            margin-bottom: 10px;
            @include fontWB(16, 20, center);
            letter-spacing: 2px;
        }

        >dd{
            @include fontWN(15, 18, center);
            letter-spacing: 1px;
        }
    }

}
//..about-service-box END

.about-contact-box{
    width: 100%;
    height: 600px;
    @include bgi_n_cc();
    background-image: url('../images/about/map.jpg');
    position: relative;

    .contact-info{
        width: 400px;
        height: 250px;
        padding: 80px 0;
        background-color: $point;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -205px;
        margin-left: -200px;
    }

    h5{
        width: 100%;
        margin-bottom: 10px;
        @include fontWB(16, 30, center);
        font-family: 'Open Sans Condensed';
        letter-spacing: 2px;

        &.none_mb{margin-bottom: 0;}
    }

    p{
        width: 100%;
        @include fontWN(16, 18, center);
        font-family: 'Open Sans Condensed';
        letter-spacing: 1px;
    }
    ul{
        width: 100%;
        padding: 10px 0 20px;
    }

    a{
        letter-spacing: 1px;
        font-family: 'Open Sans Condensed';
    }

    .map-load{
        @include custom_d(60, 20);
        margin: 0 auto 24px;
        @include border_W(1);
        @include fontWN(12, 18, center);
    }

    .email-load{
        width: auto;
        display: block;
        @include fontWN(16, 28, center);
    }
}
//.about-contact-box END

.about-work-box{
    width: 100%;
    height: 322px;
    background-color: $white;

    >a{
        @include parent_d();
        background-color: #461379;
        position: relative;

        >div{
            @include parent_d();
            position:absolute;
            top: 0;
            left: 0;
        }

        p{
            width: 280px;
            position: absolute;
            font-family: 'Open Sans Condensed';
            font-style: italic;
        }

        // 화살표 Object 구현
        .dir-box{
            width: 130px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -10px;
        }

        span{
            height: 2px;
            display: block;
            float: right;
        }

        .diag-1{
            transform: rotate(45deg);
        }

        .diag-2{
            transform: rotate(-225deg);
        }

    }

    // 기본 로드 박스 style
    .load-box{
        background-color: $white;
        z-index: 5;

        p{
            height: 100%;
            left: 50%;
            margin-left: - 140px;
            @include fontBB(100, 322, center);
        }

        .dir-box{
            margin-left: 200px;
        }

        span{
            background-color: $black_d;
        }

        .diag-1{
            width: 13px;
            margin-top: 4px;
        }

        .col-line{
            width: 129px;
            transform: rotate(180deg);
            margin-top: 3px;
            margin-right: 1px;
        }

        .diag-2{
            width: 13px;
            margin-top: 3px
        }
    }

    .load_hide{
        animation: loadHideBox 1s 1;
        left: 100%;
    }

    .load_show{
        animation: loadShowBox 0.5s 1;
        left: 0;
    }

    // 마우스 오버시 active 박스 style
    .active-box{
        @include bgi_n_cc();
        background-image: url('../images/about/top_bgi.jpg');

        .text-over{
            width: 280px;
            height: 96px;
            overflow: hidden;
            position: relative;
            top: 50%;
            left: 50%;
            margin-top: - 48px;
            margin-left: -140px;

            p{
                height: 100%;
                @include fontWB(100, 96, center);
                bottom: 0;
                margin-bottom: -100px;
            }
        }

        .dir-box{
            width: 132px;
            margin-left: -200px;

            div{width: 100%;}
            div:nth-child(1){height: 5px; padding-top: 4px;}
            div:nth-child(2){height: 2px;}
            div:nth-child(3){height: 5px; padding-bottom: 4px;}

        }

        span{
            background-color: $white;
        }

        .diag-1{
            width: 5px;
            margin-top: 3px;
        }

        .col-1{
            width: 30px;
            height: 2px;
            float: left;
        }

        .col-2{
            width: 100px;
            height: 2px;
            float: left;
            transform: rotate(180deg);
        }

        .diag-2{
            width: 5px;
        }

        //active class
        .dir_move{
            animation: dirboxMoving 1s 1;
            width: 132px;
            margin-left: 200px;

            div:nth-child(1){
                animation: dir01Box 1s 1;
                height: 8px !important;
                padding-top: 0 !important;
            }
            div:nth-child(2){
                animation: colBox 1s 1;
                width: 132px !important;
            }
            div:nth-child(3){
                animation: dir02Box 1s 1;
                height: 9px;
                padding-bottom: 0;
            }

            .diag-1{
                animation: dir01Moving 1s 1;
                width: 13px;
            }

            .col-1{
                animation: col01Moving 1s 1;
                width: 100px;
            }

            .col-2{
                animation: col02Moving 1s 1;
                width: 30px;
                margin-right: 2px;
            }

            .diag-2{
                animation: dir02Moving 1s 1;
                width: 13px;
                margin-top: 2px;
            }
        }

    }

}

//.about-work-box END
/* AboutUs-detail END */


/* work-detail START */
.work-detail{
    position: relative;
    margin: 180px 0 125px;

    .header{
        padding-bottom: 60px;
        border-bottom: 1px solid  #000;
        opacity: 0;
        transition:opacity 0.2s;
        -webkit-transition:opacity 0.2s;

        h2{
            margin-bottom: 20px;
            font:300 36px/36px 'Noto Sans KR';
            color: #000;
            letter-spacing: -0.25px;
        }

        >.date{
            font:300 12px/12px 'Open Sans';
        }
    }

    .contents{
        min-height: 300px;
        position: relative;
        margin: 60px 0 0;
        padding-bottom: 100px;

        .detail-main-img{
            max-width: 940px;
            max-height: 300px;
            display: block;
            margin: 0 auto;
        }

        .short-info{
            position: absolute;
            top: 0;
            right: 0;
            width: 280px;
            padding:0 30px 60px 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border-bottom: 1px solid  #000;
            opacity: 0;
            transition:opacity 0.3s 0.15s;
            -webkit-transition:opacity 0.3s 0.15s;

            .title{
                margin-bottom: 20px;
                font:300 18px/18px 'Noto Sans KR';
                letter-spacing: -0.25px;
            }

            .description{
                margin-bottom: 30px;
                font:300 14px/20px 'Noto Sans KR';
                letter-spacing: -0.25px;
                color: #666;
            }

            ul{
                li{
                    min-height: 12px;
                    position: relative;
                    overflow: hidden;
                    margin-bottom: 15px;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    dl{
                        >*{
                            float: left;
                        }

                        dt{
                            margin-right: 6px;
                            color: #aaa;
                            font:300 12px/15px 'NotoSansKR';
                        }

                        dd{
                            font:300 12px/15px 'NotoSansKR';
                            color: #666;

                            a{
                                font:300 12px/15px 'NotoSansKR';
                                color: #666;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        /* short-info END */

        .view-contents{
            width: 940px;
            position: relative;
            opacity: 0;
            transition:opacity 0.3s 0.1s;
            -webkit-transition:opacity 0.3s 0.1s;

            .error404{
                padding: 140px 0 100px;
            }

            .image-box{
                position: relative;
                margin-bottom: 60px;
                background: #d7d7d7;
            }

            .title{
                margin-bottom: 35px;
                font:300 24px/32px 'Noto Sans KR';
                color: #000;
                letter-spacing: -0.25px;
            }

            .description{}

            .detail-text{
                font:300 14px/20px 'Noto Sans KR';
                letter-spacing: -0.25px;
                color: #666;
            }

            .detail-img{
                padding-top: 60px;

                img{
                    display: block;
                }
            }

            .no-contents{
                padding: 120px 0;
                font:300 30px/30px 'Noto Sans KR';
                text-align: center;
            }
        }
        /* view-contents END */
    }
    /* contents END */

    /* indicator START */
    .indicator{
        position: relative;
        width: 100%;
        height: 100px;
        border-top: 1px solid  #000;
        opacity: 0;
        transition:opacity 0.3s 0.18s;
        -webkit-transition:opacity 0.3s 0.18s;

        .page-button-wrapper{
            position: absolute;
            bottom: 0;
            z-index: 3;

            .page-button{
                width: 61px;
                height: 61px;
                display: block;
                position: relative;
                overflow: hidden;
                background: #000;

                &::before,&::after{
                    content:'';
                    width: 21px;
                    height: 21px;
                    display: block;
                    border-color: #fff;
                    border-style: solid;
                    border-width: 0;
                    position: absolute;
                }
            }

            .info-next{
                width: 500px;
                position: absolute;
                top: 20px;
                left: 0;

                .prefix{
                    position: absolute;
                    top: 0;
                    color: #aaa;
                    font:300 14px/14px 'Noto Sans KR';

                    &::after{
                        content:'';
                        display: block;
                        width: 1px;
                        height: 13px;
                        background: #aaa;
                        position: absolute;
                        top: 1px;
                    }
                }

                .article-name{
                    color: #666;
                    font:300 14px/14px 'Noto Sans KR';
                }
            }
            /* info-next END */

            &.button-left-wrapper{
                left: 0;

                .info-next{
                    left: 80px;
                    .prefix{
                        left: 0;

                        &::after{
                            right: -10px;
                        }
                    }

                    .article-name{
                        padding-left: 46px;
                    }
                }

                .page-button{

                    &::before,&::after{
                        top: 50%;
                        left: 50%;
                        margin-left: 5px;
                        transform-origin:center;
                        -webkit-transform-origin:center;
                        border-width: 0 0 1px 1px;
                    }

                    &::before{
                        transform: translate3d(-50%,-50%,0) rotate(45deg);
                        -webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
                    }

                    &::after{
                        transform: translate3d(250%,-50%,0) rotate(45deg);
                        -webkit-transform: translate3d(250%,-50%,0) rotate(45deg);
                    }

                    &:hover{

                        &::before{
                            transition: all 0.25s cubic-bezier(.82,.2,.57,1.02);
                            -webkit-transition: 0.25s all cubic-bezier(.82,.2,.57,1.02);
                            transform: translate3d(-250%,-50%,0) rotate(45deg);
                            -webkit-transform: translate3d(-250%,-50%,0) rotate(45deg);
                        }

                        &::after{
                            transition: all 0.35s 0.15s cubic-bezier(.82,.2,0,.85);
                            -webkit-transition: 0.35s 0.15s all cubic-bezier(.82,.2,0,.85);
                            transform: translate3d(-50%,-50%,0) rotate(45deg);
                            -webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
                        }
                    }
                }
            }
            // &.button-left-wrapper END

            &.button-right-wrapper{
                right: 0;

                .info-next{
                    // width: auto;
                    left: auto;
                    right: 80px;
                    .prefix{
                        right: 0;

                        &::after{
                            left: -10px;
                        }
                    }

                    .article-name{
                        padding-right: 46px;
                        text-align: right;
                    }
                }

                .page-button{

                    &::before,&::after{
                        top: 50%;
                        left: 50%;
                        margin-left: -5px;
                        transform-origin:center;
                        -webkit-transform-origin:center;
                        border-width: 0 1px 1px 0;
                    }

                    &::before{
                        transform: translate3d(-50%,-50%,0) rotate(-45deg);
                        -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
                    }

                    &::after{
                        transform: translate3d(-250%,-50%,0) rotate(-45deg);
                        -webkit-transform: translate3d(-250%,-50%,0) rotate(-45deg);
                    }

                    &:hover{

                        &::before{
                            transition: all 0.25s cubic-bezier(.82,.2,.57,1.02);
                            -webkit-transition: 0.25s all cubic-bezier(.82,.2,.57,1.02);
                            transform: translate3d(250%,-50%,0) rotate(-45deg);
                            -webkit-transform: translate3d(250%,-50%,0) rotate(-45deg);
                        }

                        &::after{
                            transition: all 0.35s 0.15s cubic-bezier(.82,.2,0,.85);
                            -webkit-transition: 0.35s 0.15s all cubic-bezier(.82,.2,0,.85);
                            transform: translate3d(-50%,-50%,0) rotate(-45deg);
                            -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
                        }
                    }
                }


            }
            // &.button-right-wrapper END

            &.button-center-wrapper{
                width: 150px;
                height: 60px;
                bottom: 0;
                left: 50%;
                margin-left: -75px;

                a{
                    width: 100%;
                    height: 100%;
                    display: block;
                    font: 300 17px/60px 'Noto Sans KR';
                    text-align: center;
                    color: $gray;

                    &:hover{
                        color: $gray_f;
                    }
                }
            }
            // &.button-center-wrapper END
        }
        /* .page-button-wrapper END */

        .page-number-wrapper{
            width: 100%;
            position: absolute;
            // bottom: 17px;
            bottom: -20px;
            left: 0;
            text-align: center;

            .inner{
                display: inline-block;

                *{
                    font:300 15px/20px 'Brandon';
                }

                span{
                    color: #aaa;
                }

                strong{
                    color: #000;
                }
            }
        }
    }
    /* indicator END */

    &.loaded{
        .header{
            opacity: 1 !important;
        }

        .contents{
            .short-info{
                opacity: 1 !important;
            }

            .view-contents{
                opacity: 1 !important;
            }
        }

        .indicator{
            opacity: 1 !important;
        }

    }

}
/* work-detail END */


/* footer START */
#footer{
    width: 100%;
    padding: 60px 0;
    background: #000;
    text-align: center;

    >a.arrow{
        display: inline-block;
        margin-bottom: 40px;
    }

    p{
        margin-bottom: 7px;
        font:300 12px/12px 'Open Sans';
        text-align: center;
        color: #999;

        &.tel{
            margin-top: 20px;
        }

        &.copy{
            font-size: 11px;
            color: #666;
            letter-spacing: 3px;
            font-weight: 400;
        }
    }
}
/* footer END */

@import 'includes/mobile.scss';
